#ball {
    position: absolute;
    background-color:darkgreen;
    left: 485px;
    top: 400px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
#paddleLeft{
    position: absolute;
    background-color: black;
    left: 20px;
    top: 400px;
    height: 150px;
    width: 20px;
}

#paddleRight{
    position: absolute;
    background-color: black;
    left: 1000px;
    top: 400px;
    height: 150px;
    width: 20px;


}